<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../node_modules/mocha/mocha.css" />
</head>
<body>
    <div id="mocha"></div>
    <script src="../node_modules/sinon/pkg/sinon.js"></script>
    <script src="../node_modules/mocha/mocha.js"></script>
    <script>
        mocha.ui('tdd');
    </script>
    <script src="../node_modules/requirejs/require.js" data-main="specs/main.js" ></script>
    <script src="//localhost:35729/livereload.js"></script>
</body>
</html>