*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
    margin: 0;
}
body{
    background: black;
    color : white;
    font-family: helvetica;
    font-size: 100%;
    font-weight: lighter;
    height: 100%;
}

#wrap {
    height:100%;
     display: table;
     width: 100%;
}

#wrap-inner{
display: table-cell;
   text-align: center;
   vertical-align: middle;
}
#main-header{
    
    h1{
        font-size: 1.3em;
        line-height: 1;
        font-weight: lighter;

    }
}

#main-text{
    font-size:80px;
    letter-spacing:4px;
    width:auto;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: normal;
}